# Ignore everything by default
*

# Allow specific project files
!.gitignore
!Dockerfile
!docker-compose.yaml
!entrypoint.sh
!patch_piper.sh
!requirements.txt
!requirements-rocm.txt
!install_onnxruntime.sh
!run_container.sh
!test_tts.sh
!README.md

# Allow models directory but ignore its contents
!models/
models/*
!models/.gitkeep
!output/
output/*
!output/.gitkeep
!patch/
patch/*
!patch/voice.py
